[submodule "nubomedia-controller"]
	path = nubomedia-controller
	url = https://github.com/nubomedia/nubomedia-controller
[submodule "nubomedia-admin"]
	path = nubomedia-admin
	url = https://github.com/nubomedia/nubomedia-admin
[submodule "nubomedia-demonstrators"]
	path = nubomedia-demonstrators
	url = https://github.com/nubomedia/nubomedia-demonstrators
[submodule "nubomedia-documentation"]
	path = nubomedia-documentation
	url = https://github.com/nubomedia/nubomedia-documentation
[submodule "nubomedia-media-server"]
	path = nubomedia-media-server
	url = https://github.com/nubomedia/nubomedia-media-server
